.cover__link {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  text-decoration: none;

  background-image: url(../../../images/cover__trains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover__link:hover::before,
.cover__link:focus::before {
  opacity: 0.8;
}

.cover__link:active::before {
  opacity: 0.5;
}
