.place__title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;

  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
}

@media (min-width: 768px) {
  .place__title {
    margin-bottom: 0;
    padding-top: 70px;
    padding-right: 0;
    padding-left: 0;

    font-size: 42px;
    line-height: 1.07;

    grid-area: title;
  }
}

@media (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 1.05;
  }
}
