.nav__item {
  margin-bottom: 30px;
}

.nav__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .nav__item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
  }
}
