.footer {
  padding-top: 65px;
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 85px;
  }
}
