.place__description {
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .place__description {
    margin-top: 0;
    margin-bottom: 24px;

    font-size: 18px;
  }

  .place__description:last-child {
    margin-bottom: 0;
  }
}
